@font-face {
    font-family: "Gotham Light";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Light"), local("GothamLight"), url(/font/gotham-light-webfont.woff) format("woff");
}

@font-face {
    font-family: "Gotham Bold";
    font-style: bold;
    font-weight: 400;
    src: local("Gotham Bold"), local("GothamBold"), url(/font/gotham-bold-webfont.woff) format("woff");
}

body {
    font-family: "Gotham Light";
    font-size: 1.2rem;
    background-color: #fff;
    max-width: 65%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #4229b9;
}

ul {
    list-style: none;
}

header, main, footer {
    display: block;
    padding: 1em;
}

header > .logo {
    display: inline-block;
}

header > .logo > img {
    width: 300px;
}

header > span {
    position: relative;
    top: -14px;
    left: 20px;
}

main {
    min-height: 400px;
    font-size: 1.4rem;
}

main > h1 {
    font-family: "Gotham Bold", "Cuprum", sans-serif;
    font-size: 1.6rem;
    margin: 1em 0;
}

main > h2 {
    font-family: "Gotham Bold", "Cuprum", sans-serif;
    font-size: 1.6rem;
    margin: 1em 0;
}

main > p {
    text-align: justify;
    margin-bottom: 1em;
}

main > blockquote {
    padding: 0;
    margin: 0;
}

main > blockquote > p {
    font-family: 'Courier New', Courier, monospace;
}

main > ul {
    list-style: disc;
}

main > ul > li {
    margin-bottom: 0.4em;
}

footer {
    float: right;
}